body{
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
    justify-items: space-between;
}

header{
    position: fixed;
    top: 0;

    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    gap: 10vh;

    align-self: flex-start;

    width: 100vw;
    height: 12vh;
    left: 0px;
    top: 0px;

    background: linear-gradient(90deg, #66A6FF 0%, #ADCFFF 100%);
    box-shadow: inset -137px -67px 61px rgba(0, 0, 0, 0.01), inset -77px -38px 51px rgba(0, 0, 0, 0.05), inset -34px -17px 38px rgba(0, 0, 0, 0.09), inset -9px -4px 21px rgba(0, 0, 0, 0.1);
}


footer{
    position: fixed;
    bottom: 0;
    background: linear-gradient(90deg, #66A6FF 0%, #ADCFFF 100%);
    box-shadow: inset -137px -67px 61px rgba(0, 0, 0, 0.01), inset -77px -38px 51px rgba(0, 0, 0, 0.05), inset -34px -17px 38px rgba(0, 0, 0, 0.09), inset -9px -4px 21px rgba(0, 0, 0, 0.1);
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100vw;
}

.logo_colegio{
    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#headerlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    width: 542px;
    height: 109px;
}

h1{
    padding: 1vw;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 1vw;
    color: #002241;
}

h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 2vh;
    padding: 1vw;
    color: #000000;
}

h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;  
    padding: 0vw;
    margin: 0vw;
    color: #000000;
}

p{
    font-family: 'Arial';
    font-style: bold;
    font-weight: 400;
    font-size: 3.5vh;
    line-height: 1vh;
    padding: 0.2vw;
    color: #000000;
}

.no-text-decoration{
    text-decoration: none;
}