
#form_inicio_de_sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .5vh;
    width: 40vw;   
    height: 40vh;
    overflow: auto;
}

section{
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px;
    margin-top: 12vh;
    width:100vw;
    height: 76vh;
}

.input-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 40vw;   
    height: 15vh;
}

.input{
    text-align: center;
    border-radius: 2vw;
    border: 0.1vw solid #838383;
    width: 20vw;
    height: 4vh;
    background: #FFF;
}

#buttsubmit{
    height: 5vh;
    width: 20vw;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
}

#buttsubmit:hover{
    box-shadow: inset 0px 4px 4px rgb(255, 255, 255);
}

#buttsubmit:active{
    background: #007EF1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: azure;
}


.clear{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 40vw;   
    height: 40vh;

    /* glass */

    background: rgba(255, 255, 255, 0.6);
    /* sombra glass2 */

    box-shadow: 4vw 5vw 6vw rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2vh);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 3vh;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
    color: #000000;
}
